@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&family=Playwrite+CZ:wght@100..400&display=swap');

#account-form{
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
}

#account-form input{
    margin:5px auto;
}

#account-form #change-pass-btn{
    color: white;
    background-color: coral;
    border-color: transparent;
}

.account-info #order-btn, #logout-btn{
    color: coral;
    text-decoration: none;
}
