
.cart table {
    width: 100%;
    border-collapse: collapse;
}


.cart .product-info {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.cart .product-info p{
    margin: 3px;
}

.cart .product-details {
    display: flex;
    flex-direction: column;
   align-items: center;
}

.cart .remove-btn {
    background-color: white;
    border: none;
    width: 100%;
    color:#1A2130;
    font-size: 14px;
    text-align: left;

}

.product-info img {
    margin-right: 15px;
}

.cart th{
    text-align: left;
    padding: 5px 10px;
    color: aliceblue;
    background-color: #1A2130;
}

.cart td{
    padding: 10px 20px;
}

.cart td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart .edit-btn{
    background-color: white;
    border: none;
    width: 100%;
    color:rgb(3, 3, 42);
    font-size: 14px;
    text-align: left;
}

.cart-total {
    display: flex;
    justify-content: flex-end; /*display in the right side*/
}

.cart-total table{
    width: 100%;
    max-width: 500px;
    /* border-top: 3px solid #1A2130; */
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.cart .quantity-btn{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.checkout-container{
    display: flex;
    justify-content: flex-end;
}

.checkout-container .btn{
    font-family: "Poppins", sans-serif;
    background-color: rgb(3, 3, 42);
    transform: translateY(50px);
    opacity: 0;
    border-color: white;
    transition: 0.3s all;;
    color: white;
}
.checkout-container .btn:hover{
    transform: translateY(0px);
    opacity: 1;
}
.cart .checkout-btn{
    background-color:#1A2130;
    font-family: "Poppins", sans-serif;
    color: white;
    border-color: transparent;
    width: 100px;
    border-radius: 5px;
    padding: 5px 10px 2px 2px;

}



.cart .checkout-btn:hover{
    transform: translateY(0px);
    opacity: 1;
    background-color: #7e90b3;
}
/* .cart .checkout-container input .checkout-btn{
    background: #1A2130;
    color: white;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 5px;
    font-size: 15px;
    transition: background-color 0.3s ease;
    border-color: transparent;
}


.cart input{
    text-decoration: none;
    font-size: 14px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}  */
