#checkout-form .checkout-small-element{
    display: inline-block;
    width: 45%;
    margin: 10px auto;
}

#checkout-form .checkout-large-element{
    width: 91%;
}

#checkout-form .checkout-btn-container{
    margin: 10px;
    text-align: right;
    margin-right: 40px;
}

#checkout-form .checkout-btn{
    background-color:#1A2130;
    font-family: "Poppins", sans-serif;
    color: white;
    border-color: transparent;
    width: 100px;
    border-radius: 5px;
    padding: 5px 10px;
}

#checkout-form .checkout-btn:hover{
    transform: translateY(0px);
    opacity: 1;
    background-color: #7e90b3;
}