
.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.item input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.item input:focus{
    outline: none;
}

.item .buy-btn{
    background-color: coral;
    opacity: 1;
    transition: 0.4s all;
    border-color: white;
}

.item .buy-btn:hover{
    background-color: black;
}