
#login-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid rgb(3, 3, 42);
}

#login-form input{
    width: 50%;
    margin: 5px auto;
}

/* #login-form #login-btn{
    background-color: rgb(3, 3, 42);
    color: aliceblue;
    border-color: transparent;
}

#login-form #register-url{
    color: white;
} */