
#register-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid coral;
}

#register-form input{
    width: 50%;
    margin: 5px auto;
}

#register-form #signup-btn{
    background-color: coral;
    color: aliceblue;
    border-color: transparent;
}

#register-form #login-url{
    color: coral;
}
