@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&family=Playwrite+CZ:wght@100..400&display=swap');

#register-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid coral;
}

#register-form input{
    width: 50%;
    margin: 5px auto;
}

#register-form #signup-btn{
    background-color: coral;
    color: aliceblue;
    border-color: transparent;
}

#register-form #login-url{
    color: coral;
}
