.Shop {
    cursor: pointer;
    margin-bottom: 2rem;
    height: fit-content;
}

.Shop img {
    transition: 0.3s all;
    height: 270px;
}

.Shop:hover img {
    opacity: 0.7;
}

.buy-btn {
    font-family: "Poppins", sans-serif;
    background-color: rgb(3, 3, 42);
    transform: translateY(50px);
    opacity: 0;
    border-color: white;
    transition: 0.3s all;
    color: white;
}

.Shop:hover .buy-btn {
    transform: translateY(0px);
    opacity: 1;
}


    input[type=radio] {
        --s: 1em;
        /* control the size */
        --c: #5d6fbf;
        /* the active color */

        height: var(--s);
        aspect-ratio: 1;
        border: calc(var(--s)/8) solid #1A2130;
        padding: calc(var(--s)/8);
        background:
            radial-gradient(farthest-side, var(--c) 94%, #0000) 50%/0 0 no-repeat content-box;
        border-radius: 50%;
        outline-offset: calc(var(--s)/10);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        font-size: inherit;
        transition: .3s;
    }

    input[type=radio]:checked {
        border-color: var(--c);
        background-size: 100% 100%;
    }

    input[type=radio]:disabled {
        background:
            linear-gradient(#7e90b3 0 0) 50%/100% 20% no-repeat content-box;
        opacity: .5;
        cursor: not-allowed;
    }

    @media print {
        input[type=radio] {
            -webkit-appearance: auto;
            -moz-appearance: auto;
            appearance: auto;
            background: none;
        }
    }

    label {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        margin: 5px 0;
        cursor: pointer;
    }




    #rangeValue {
        position: relative;
        display: block;
        text-align: center;
        font-size: 16px;
        color: black;
        font-weight: 400;
    }

    .range {
        width: 400px;
        height: 15px;
        -webkit-appearance: none;
        background: white;
        outline: 2px solid white;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    }

    .range::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: white;
        cursor: pointer;
        border: 2px solid #7e90b3;
        box-shadow: -407px 0 0 400px #7e90b3;
    }
