@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&family=Playwrite+CZ:wght@100..400&display=swap');

.bd-placeholder-img{
    font-size: 1.123rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
}

@media (min-width:768px ){
    .bd-placeholder-img-lg{
        font-size: 3.5rem;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
.LoginBody{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
.LoginContainer{
    width: 420px;
    background: transparent;
    color: black;
    border-radius: 12px;
    padding: 30px 40px;
}
.LoginContainer h1{
    font-size: 35px;
    text-align: center;
}
.LoginContainer .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid gray;
    border-radius: 40px;
    color: black;
    font-size: 15px;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: black;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}
.LoginContainer .remember{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.remember label input{
    accent-color: white;
    margin-right: 4px;
}
.remember a{
    color: black;
    text-decoration: none;
}
.remember a:hover{
    text-decoration: underline;
}
.LoginContainer .btn{
    width: 100%;
    height: 45px;
    background: rgb(241, 239, 239);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    color: black;
    font-weight: 600;
}
.LoginContainer .btn:hover{
    text-decoration: underline;
    color: gray;
}
.LoginContainer .register{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}
.register p a{
    color: gray;
    text-decoration: none;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
    color: black;
}